*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* common rules */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.medium-layout-container{
    width: 90%;
    margin: auto;
    position:relative;
}
/* header formatting */
header{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    line-height: 10vh;
    position: fixed;
    z-index: 20;
}
.left-side ul,
.right-side ul,
.left-side ul li,
.right-side ul li,
.btn-formatting{
    display: inline-block;
}
.left-side ul li,
.right-side ul li,
.btn-formatting{
    padding: 0 12px;
}

.left-side ul li a,
.right-side ul li a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.left-side,
.right-side{
    float: left;
    width: 50%;
}
.left-side{
    text-align: left;
}
.right-side{
    text-align: right;
}
.small-logo{
    vertical-align: middle;
    padding:0 20px;
}
header div.btn-formatting{
    margin:0 20px;
}
.btn-formatting{
    display: inline-block;
    background-color: #0061ff;
    color: white;
    padding: 5px 20px;
    line-height: normal;
}
/* main section */
main{
    padding-top: 10vh;
}
/* hero of the page */
.hero{
    background-color: #b4d0e7;
    height: 95vh;
    text-align: left;
}
h1{
    font-size: 85px;
    max-width: 1450px;
    padding-top: 70px;
    display: inline-block;
}
.hero-col-container{
    height: 100%;
    max-width: 100%;
    position: relative;
    bottom: -50px;
}
.hero-left-col,
.hero-right-col{    
    float: left;
    height: 60vh;
}
.hero-left-col{
    width:40%;
}
.hero-btn{
    margin-top: 30px;
    margin-bottom: 10px;
}
.hero-right-col{
    width: 60%;
}

.hero-img{
    width: 100%;
    object-fit: cover;
}
/* 3-col-section */
.three-col-sec{
    background-color: white;
    width: 100%;
    height: 100vh;
}
.fa-arrow-down{
    padding-top: 50px ;
    font-size: 50px;
}