*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* common rules */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.medium-layout-container{
    width: 90%;
    margin: auto;
    position:relative;
}
.small-layout-container{
    width: 70%;
    margin: auto;
    position:relative;
}
/* header formatting */
header{
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    line-height: 10vh;
    position: fixed;
    z-index: 20;
}
.left-side ul,
.right-side ul,
.left-side ul li,
.right-side ul li,
.btn-formatting{
    display: inline-block;
}
.left-side ul li,
.right-side ul li,
.btn-formatting{
    padding: 0 12px;
}

.left-side ul li a,
.right-side ul li a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.left-side,
.right-side{
    float: left;
    width: 50%;
}
.left-side{
    text-align: left;
}
.right-side{
    text-align: right;
}
.small-logo{
    vertical-align: middle;
    padding:0 20px;
}
header div.btn-formatting{
    margin:0 20px;
}
.btn-formatting{
    display: inline-block;
    background-color: #0061ff;
    color: white;
    padding: 7px 20px;
    line-height: normal;
}
/* main section */
main{
    padding-top: 10vh;
}
/* hero of the page */
.hero{
    background-color: #b4d0e7;
    text-align: left;
}
h1{
    font-size: 70px;
    max-width: 1250px;
    padding-top: 70px;
    display: inline-block;
}
.hero-col-container{
    height: 100%;
    max-width: 100%;
    position: relative;
    bottom: -60px;
}
.hero-left-col,
.hero-right-col{    
    float: left;
}
.hero-left-col{
    width:40%;
}
.hero-btn,
.columns-btn{
    margin-top: 30px;
    margin-bottom: 10px;
}
.hero-right-col{
    width: 60%;
}

.hero-img{
    width: 100%;
    object-fit: cover;
}
.fa-arrow-down{
    padding-top: 40px;
    font-size: 40px;
}
/* 3-col-section */
.three-col-sec-container{
    background-color: red;
    width: 100%;
    min-height: 1200px;
    margin-top: 150px;
}

.three-col-sec-container .small-layout-container h2{
    font-size: 50px;
}
.radio-box{
    padding-top: 40px;
    padding-bottom: 30px;
}
div.radio-box span {
    display: inline-block;
    padding-right: 10px;
}
.singol-plan,
.team-plan,
.adv-plan{
    min-height: 900px;
    background-color: white;
    border: 1px solid #d0d0d3;
    float: left;
}
.singol-plan{
    margin-right: 20px;
    width: calc(100% / 3 - 20px);
}
.team-plan{
    margin: 0 10px;    
    width: calc(100% / 3 - 20px);
}
.adv-plan{
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
}
.singol-header{
    border: 1px solid #d0d0d3;
    text-align: center;
    /* this property overlaps the border to the one of the container */
    margin: -1px;
}
.singol-plan .singol-header h6,
.team-plan  .singol-header h6,
.adv-plan  .singol-header h6{
    font-weight: 400;
    font-size: 17px;   
    display: inline-block; 
    padding: 5px; 
}
.column-formatting{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.column-formatting h4,
.bottom-row h4{
    font-size: 30px;
}
.plan-price{
    display: inline-block;
    width: 100%;
    font-weight: 700;
    padding: 8px 0;
}
.grey-text{
    font-size: 15px;
    color: #7c8995
}
.column-formatting .plan-privileges li{
    display: inline-block;
    margin: 10px 0;
}
.column-formatting .plan-privileges li span{
    display: inline-block;
    vertical-align: top;
    width: 90%;
}
.columns-btn{
    text-align: center;
    display: inline-block;
    width: 100%;
}
.small-hr{
    width: 20%;
    padding: 25px 0;
}
.column-formatting h5{
    font-size: 16px;
    padding: 15px 0;
}
.fa-check{
    color: #2779ff;
    vertical-align: middle;
}
.bottom-row{
    float: left;
    background-color: white;
    margin-top: 40px;
    width: 100%;
}
